<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>
                    <strong>2013 - 2015 © Farkcorp S.A de C.V.</strong>
                    <br>
                    Luis Lusati Mz. 12 Lt. 14, Col. México Nuevo, Atizapan de Zaragoza, Edo. de México. C.P. 52966
                </p>
            </div>
            <div class="col-sm-3 col-sm-offset-3 text-right">
                <p>
                    <strong>Teléfonos:</strong>

                    <br>(55) 53 41 42 32<br>(55) 53 41 42 42
                </p>
            </div>
        </div>
    </div>
</div>