<div class="contenido container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Productos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2" ng-repeat="(index, catalogo) in CatalogCtrl.collecion">
            <h2>{{catalogo.familia}}</h2>
            <ul class="list group">
                <li class="list-group-item" ng-repeat="producto in catalogo.productos">
                    {{producto}}
                </li>
            </ul>
        </div>
    </div>
</div>