<div class="contenido container">
    <div class="row">
        <div class="col-sm-6">
            <img src="img/ubicacion.png" width="377" height="36" alt="ubicación"/>
                <iframe width="440" height="234" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="http://maps.google.com.mx/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Luis+Lusati,+Mz+12&amp;sll=19.567676,-99.26568&amp;sspn=0.007663,0.007725&amp;ie=UTF8&amp;hq=&amp;hnear=Av+Luis+Lusati,+M%C3%A9xico+Nuevo,+Ciudad+L%C3%B3pez+Mateos,+M%C3%A9xico&amp;ll=19.567525,-99.267716&amp;spn=0.031662,0.030899&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                <br/>
                <small><a
                        href="http://maps.google.com.mx/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Luis+Lusati,+Mz+12&amp;sll=19.567676,-99.26568&amp;sspn=0.007663,0.007725&amp;ie=UTF8&amp;hq=&amp;hnear=Av+Luis+Lusati,+M%C3%A9xico+Nuevo,+Ciudad+L%C3%B3pez+Mateos,+M%C3%A9xico&amp;ll=19.567525,-99.267716&amp;spn=0.031662,0.030899&amp;z=14&amp;iwloc=A"
                        style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>

        </div>
        <div class="col-sm-6">
            <p><strong>Dirección:</strong><br />
                Luis Lusati Mz. 12 Lt. 14<br />
                Col. México Nuevo<br />
                Atizapan de Zaragoza, Edo. de México<br />
                C.P. 52966</p>
            <p><strong>Tels.:</strong> <br />
                (55) 53 41 42 42<br />
                (55) 53 41 42 32<br />
                (55) 53 41 48 98<br />
                (55) 53 41 62 12<br />
                (55) 53 41 71 38<br />
                <br />
                <strong>Nextel:</strong> 19 95 55 21 </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="img/h_contactanos.png" width="377" height="35" alt="contactanos" />
            <form action="" method="post"><table width="90%" border="0" cellspacing="8">
                <tr>
                    <td align="left" valign="top">
                        <label for="textfield2">Nombre: </label>
                        <input name="textfield" type="text" class="formulario_texto" id="textfield2" />
                        <br />
                        <label for="textfield3">e-mail: </label>
                        <input name="textfield2" type="text" class="formulario_texto" id="textfield3" maxlength="20" />
                        <label for="textfield4"><br />
                            Teléfono: </label>
                        <input name="textfield3" type="text" class="formulario_texto" id="textfield4" />
                        <br /></td>
                    <td align="left" valign="top"><label for="textarea">Comentarios:</label>
                        <textarea name="textarea" cols="45" rows="5" class="formulario_comentarios" id="textarea"></textarea>
                        <br />
                        <p align="right"><input name="button" type="submit" class="formulario_boton" id="button" value="Enviar" /></p></td>
                </tr>
            </table></form>
        </div>
        <div class="col-sm-6">
            <p>Gerencia: <br />
                <a href="mailto:lmere@farkcorp.net">lmere@farkcorp.net</a><br />
                <a href="mailto:claudia.azuara@farkcorp.net">claudia.azuara@farkcorp.net</a><br />
                 <br />
                Recepción:
                 <br />
                <a href="mailto:mirna.rivera@farkcorp.net">mirna.rivera@farkcorp.net</a><br />
                 <br />
                Compras:
                 <br />
                <a href="mailto:ana.ramirez@farkcorp.net">ana.ramirez@farkcorp.net</a></p>
            <p>Ventas:<br />
                <a href="mailto:karla.castelazo@farkcorp.net">karla.castelazo@farkcorp.net</a></p>
            <p>Contabilidad:<br />
                <a href="mailto:antonio.mendoza@farkcorp.net">antonio.mendoza@farkcorp.net</a><br />
                <br />
                Almacén:<br />
                <a href="mailto:juanjose.alvarez@farkcorp.net">juanjose.alvarez@farkcorp.net</a></p>
        </div>
    </div>
</div>