<div class="contenido container">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-2">
            <h1>Ubicación</h1>
            <!--<img src="img/ubicacion.png" width="377" height="36" alt="ubicación"/>-->
                <iframe width="440" height="234" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="http://maps.google.com.mx/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Luis+Lusati,+Mz+12&amp;sll=19.567676,-99.26568&amp;sspn=0.007663,0.007725&amp;ie=UTF8&amp;hq=&amp;hnear=Av+Luis+Lusati,+M%C3%A9xico+Nuevo,+Ciudad+L%C3%B3pez+Mateos,+M%C3%A9xico&amp;ll=19.567525,-99.267716&amp;spn=0.031662,0.030899&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                <br/>
                <small><a
                        href="http://maps.google.com.mx/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Luis+Lusati,+Mz+12&amp;sll=19.567676,-99.26568&amp;sspn=0.007663,0.007725&amp;ie=UTF8&amp;hq=&amp;hnear=Av+Luis+Lusati,+M%C3%A9xico+Nuevo,+Ciudad+L%C3%B3pez+Mateos,+M%C3%A9xico&amp;ll=19.567525,-99.267716&amp;spn=0.031662,0.030899&amp;z=14&amp;iwloc=A"
                        style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>

        </div>
        <div class="col-sm-3">
            <p><strong>Dirección:</strong><br />
                Luis Lusati Mz. 12 Lt. 14<br />
                Col. México Nuevo<br />
                Atizapan de Zaragoza, Edo. de México<br />
                C.P. 52966</p>
            <p><strong>Tels.:</strong> <br />
                (55) 53 41 42 42<br />
                (55) 53 41 42 32<br />
                (55) 53 41 48 98<br />
                (55) 53 41 62 12<br />
                (55) 53 41 71 38<br />
                <br />
                <strong>Nextel:</strong> 19 95 55 21 </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-2">
            <!--<img src="img/h_contactanos.png" width="377" height="35" alt="contactanos" />-->
            <h1>Contáctanos</h1>
            <form action="" method="post">
            <div class="row">
                <div class="col-sm-6">
                    <label for="textfield2">Nombre: </label>
                    <input name="textfield" type="text" class="form-control" id="textfield2" />
                    <label for="textfield3">e-mail: </label>
                    <input name="textfield2" type="text" class="form-control" id="textfield3" maxlength="20" />
                    <label for="textfield4">Teléfono: </label>
                    <input name="textfield3" type="text" class="form-control" id="textfield4" />
                </div>
                <div class="col-sm-6">
                    <label for="textarea">Comentarios:</label>
                    <textarea name="textarea" cols="45" rows="5" class="form-control" id="textarea"></textarea>
                    <br>
                    <input name="button" type="submit" class="btn btn-primary btn-block" id="button" value="Enviar" />
                </div>
            </div>
            </form>
        </div>
        <div class="col-sm-3">
            <h5>Dirección:</h5>
                <a href="mailto:luismere@farkcorp.net">luismere@farkcorp.net</a><br />
            <h5>Gerencia General:</h5>
                <a href="mailto:oscarzeron@farkcorp.net">oscarzeron@farkcorp.net</a><br />
            <h5>Recepción:</h5>
                <a href="mailto:recepcion@farkcorp.net">recepcion@farkcorp.net</a><br />
            <h5>Compras:</h5>
                <a href="mailto:ana.ramirez@farkcorp.net">ana.ramirez@farkcorp.net</a>
            <h5>Contabilidad:</h5>
                <a href="mailto:rosarodriguez@farkcorp.net">rosarodriguez@farkcorp.net</a>
            <h5>Almacén:</h5>
                <a href="mailto:juanjosealvarez@farkcorp.net">juanjosealvarez@farkcorp.net</a>
        </div>
    </div>
</div>