<div class="contenido">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <img src="img/bienvenidos.png" width="272" height="162"  style="margin-top: 20%;"/>
        </div>
        <div class="col-sm-4">
            <h1>Bienvenidos</h1>
            <!--<img src="img/h_bienvenidos.png" width="377" height="37"/>-->
            <br>
            <p>En FarkCorp, nos preocupamos por brindar las mejores opciones del mercado. Lo invitamos a conocer nuestro
                <a href="#/catalogo">catálogo</a>, y si es su primera visita <a
                        href="#/quienessomos">conózcanos</a>.</p>

            <p>Agradecemos mucho su visita, para nosotros es muy importante, si necesita información no dude en <a
                    href="#/contacto">contactarnos</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#/quienessomos">
                        <img src="img/b_quienessomos.png" width="205" height="267"/>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#/catalogo">
                        <img src="img/b_catalogo.png" width="205" height="267"/>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#/contacto">
                        <img src="img/b_contacto.png" width="205" height="267"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
