<div class="contenido container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <img src="img/farkcorp_logo.png" width="279" height="82" style="margin-top: 40%" />
        </div>
        <div class="col-sm-4">
            <!--<img src="img/h_quienes_somos.png" width="324" height="33" />-->
            <h1>¿Quienes somos?</h1>
            <br>
            <p>Somos una <strong>empresa 100%
                mexicana</strong> con amplia experiencia en la
                compra, venta, importación y exportación
                de materias primas para las industrias
                farmacéutica, veterinaria, cosmética y
                alimenticia.</p>
            <p>
                Contamos con proveedores reconocidos
                mundialmente y aprobados por la
                industria farmacéutica mexicana que
                cuentan con certificaciones de buenas
                prácticas de manufactura (GMP) de
                diversos países.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <!--<img src="img/h_mision_vision.png" width="324" height="34" />-->
            <h1>Misión y Valores</h1>
            <br>
            <h3>Misión:</h3>
            <p>Ofrecer a nuestros clientes materias primas que cumplan con las
                farmacopeas requeridas, para satisfacer la demanda con la mejor
                calidad.</p>
            <h3>Valores</h3>
            <ul>
                <li>Compromiso</li>
                <li>Respeto</li>
                <li>Colaboración</li>
                <li>Trabajo en equipo</li>
                <li>Responsabilidad Social</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="img/foto01.png" width="327" height="197" style="margin-top: 40%"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Historia</h2>
            <table class="table">
                <tr>
                    <td>1992</td>
                    <td>Fundación de Fark Corp</td>
                </tr>
                <tr>
                    <td>1995</td>
                    <td>Se añaden 5 líneas nuevas de productos</td>
                </tr>
                <tr>
                    <td>2000</td>
                    <td>Se incoporan 3 laboratorios internacionales agregando
                        competitividad a nuestros productos.</td>
                </tr>
                <tr>
                    <td>2008</td>
                    <td>Se incorpora Farcorpe al grupo añadiendo capacidad
                        de comercialización adicional.</td>
                </tr>
                <tr>
                    <td>2010</td>
                    <td>Relocalización en nuevas facilidades incrementando un
                        30 % el área disponible.</td>
                </tr>
                <tr>
                    <td>2015</td>
                    <td>Se amplia la línea de productos</td>
                </tr>
            </table>
        </div>
    </div>
</div>