<div class="contenido container">
    <div class="row">
        <div class="col-md-6">
            <img src="img/farkcorp_logo.png" width="279" height="82" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="img/h_quienes_somos.png" width="324" height="33" />
            <br>
            <p>Somos <strong>una empresa 100% mexicana</strong> con más de <strong>19 años</strong> de experiencia en la compra, venta, importación y exportación de materias primas para las industrias farmacéutica, veterinaria, cosmética y alimenticia.</p>
            <p>Contamos con proveedores reconocidos mundialmente y aprobados por la industria farmacéutica de nuestro país que cuentan con buenas prácticas de manufactura (GMP).</p>
            <p>Así como las siguientes farmacopeas: USP, BP, FCC, JP, Ph Eur, DAB, NF y algunas cumpliendo con las normas más importantes de calidad (FDA).<br />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="img/h_mision_vision.png" width="324" height="34" />
            <br>
            <p><strong>Misión: </strong>Ofrecer a nuestros clientes materias primas que cumplan con las farmacopeas requeridas, para satisfacer la demanda con la mejor calidad.</p>
            <p><strong>Visión: </strong>Brindar un servicio de calidad, manteniendo nuestra demanda satisfecha y mantenernos entre las principales empresas de distribución de farmacéuticos en el país.</p>
        </div>
        <div class="col-sm-6">
            <img src="img/foto01.png" width="327" height="197" />
        </div>
    </div>
</div>